{% extends 'base.html.twig' %}

{% block title %}New Marca{% endblock %}

{% block body %}
    <h1>Create new Marca</h1>

    {{ include('marca/_form.html.twig') }}

    <a href="{{ path('marca_index') }}">back to list</a>
{% endblock %}
